<!-- Contact -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].contact_simple.section | default: " about" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].contact_simple.title | default:
          "About Us"
          }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].contact_simple.text | default: ""
          }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-sm-12 mx-auto text-center">

        <div style="margin-bottom: 1em;">
          {% for paragraph in site.data.sitetext[site.locale].contact_simple.address %}
          <div class="large text-muted address">{{ paragraph | markdownify }}</div>
          {% endfor %}
        </div>

        {% for person in site.data.sitetext[site.locale].team.people %}
        <div class="large text-muted address">
          <p>
            <i class="fas fa-mobile-alt" aria-hidden="true"></i>
            {{ person.name }}:
            <a href="tel:{{ person.telephone }}">{{
              person.telephone }}</a>
          </p>
        </div>
        {% endfor %}

        <div class="large text-muted address">
          <p>
            <i class="fas fa-envelope" aria-hidden="true"></i>
            <a href="mailto:{{ site.data.sitetext[site.locale].contact_simple.email }}">{{
              site.data.sitetext[site.locale].contact_simple.email }}</a>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mx-auto text-center address">
        <img class="mx-auto rounded-circle" src="{{ site.data.sitetext[site.locale].contact_simple.image }}" alt="">
      </div>
    </div>



  </div>
</section>
<!-- End About -->