<!-- Portfolio Grid -->
{% for service in site.data.sitetext[site.locale].portfolio %}
<section class="page-section portfolio" id="{{ service.section }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ service.title }}</h2>
        <h3 class="section-subheading text-muted">{{ service.text }}</h3>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      {% for project in site.[service.section] %}
      <div class="col-md-4 col-sm-6 portfolio-item">
        <div class="portfolio-caption">
          <h4>{{ project.caption.title }}</h4>
          <p class="text-muted">{{ project.caption.subtitle }}</p>
        </div>

        <a class="portfolio-link" data-toggle="modal" href="#{{ project.href }}">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="{{ site.data.style.portfolio-icon | default: " fas fa-plus fa-3x" }}"></i>
            </div>
          </div>

          <div class="portfolio-overlay">
            <img class="img-fluid" src="{{ project.caption.thumbnail }}" alt="">
          </div>

        </a>
      </div>
      {% endfor %}
    </div>
  </div>

</section>
{% endfor %}
{% include modals.html %}